#tree .ui-state-default {
	border: 1px solid white;
	color: black;
	background: none;
}

#tree .ui-state-hover, #tree .ui-widget-content .ui-state-hover, #tree .ui-state-focus, #tree .ui-widget-content .ui-state-focus {
	border: 1px solid #448dae;
	background: #79c9ec url(images/ui-bg_glass_75_79c9ec_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #026890;
}

#tree .ui-state-active, #tree .ui-widget-content .ui-state-active { 
	border: 1px solid #acdd4a;
    background: #6eac2c url(images/ui-bg_gloss-wave_50_6eac2c_500x100.png) 50% 50% repeat-x; 
    font-weight: normal; 
    color: #ffffff; 
}

.thumb {
    float:left; 
    max-width: 200px; 
    max-height: 200px; 
    padding: 2px; 
    margin-right: 1em; 
}

#tree {
    max-height: 800px;
    overflow: auto;
    float: left;
    margin-right: 1em;
}
